<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>

	<appSettings>
		<add key="default_url_encoded" value=""/>
		<add key="default_proxy_host" value=""/>
		<add key="default_proxy_port" value=""/>
		<add key="default_credentials_user" value=""/>
		<add key="default_credentials_password" value=""/>
		<add key="default_credentials_domain" value=""/>
	</appSettings>
</configuration>